<h3>Comments</h3>

{{#if success_msg}}
<div class="alert alert-success">{{ success_msg }}</div>
{{/if}}

<div class="card ">
    <div class="card-header">
          <i class="fa fa-table"></i> All Comments
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                    {{!-- <th>Id</th> --}}
                    <th>Comment</th>
                    <th>User</th>
                    <th>Status</th>
                    <th>Date</th>
                    <th>Action</th>
                    </tr>
                </thead>
                
                <tbody>
                    {{#each comments}}
                    <tr>
                    {{!-- <td>{{id}}</td> --}}
                    <td>{{msg}}</td>
                    <td>{{user.fullname}}</td>
                    <td>{{status}}</td>
                    <td>{{generate_date date 'MMM-Do-Y'}} </td>
                    <td>

                        {{#ifeq status "approved"}} 
                            <form method="post" action="/comments/update/{{id}}">
                                <input type="hidden" value="unapproved" name="status">
                                <button class="btn btn-warning" type="submit">Unapprove</button>
                            </form>
                        {{/ifeq}}
                        {{#ifeq status "unapproved"}} 
                            <form method="post" action="/comments/update/{{id}}">
                                <input type="hidden" value="approved" name="status">
                                <button class="btn btn-success" type="submit">Approve</button>
                            </form>
                        {{/ifeq}}
                        
                    </td>
                    <td><a class="btn btn-danger" href="/comments/{{id}}/delete">Delete</a>
                    
                    {{!-- <form action="/admin/posts/{{id}}/delete?_method=DELETE" method="POST">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form> --}}  
                    {{!-- You can use the form for conventional delete request purposes or just use the link which initiates a get request --}}
                    </td>

                    
                    </tr>

                    {{/each}}
               </tbody>
            </table> 
        </div>
    </div>       
</div>

